-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "public"."VehicleStatus" AS ENUM ('DRAFT', 'REVIEW', 'PUBLISHED', 'RESERVED', 'SOLD', 'ARCHIVED');

-- CreateEnum
CREATE TYPE "public"."Fuel" AS ENUM ('PETROL', 'DIESEL', 'HYBRID', 'ELECTRIC', 'LPG', 'CNG', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."Transmission" AS ENUM ('MANUAL', 'AUTOMATIC');

-- CreateEnum
CREATE TYPE "public"."Drive" AS ENUM ('FWD', 'RWD', 'AWD', 'FOURX4');

-- CreateEnum
CREATE TYPE "public"."CostType" AS ENUM ('TRANSPORT', 'REPAIR', 'CLEANING', 'PPMV', 'OTHER');

-- CreateEnum
CREATE TYPE "public"."LeadType" AS ENUM ('IMPORT_REQUEST', 'BUYBACK', 'GENERAL');

-- CreateEnum
CREATE TYPE "public"."LeadSource" AS ENUM ('WEB', 'MANUAL', 'WHATSAPP', 'FB');

-- CreateEnum
CREATE TYPE "public"."LeadStatus" AS ENUM ('NEW', 'CONTACTED', 'ESTIMATE', 'IN_PROGRESS', 'CLOSED');

-- CreateTable
CREATE TABLE "public"."Vehicle" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "vin" TEXT,
    "make" TEXT NOT NULL,
    "model" TEXT NOT NULL,
    "variant" TEXT,
    "year" INTEGER NOT NULL,
    "mileageKm" INTEGER NOT NULL,
    "powerKw" INTEGER NOT NULL,
    "engineCc" INTEGER,
    "fuel" "public"."Fuel" NOT NULL,
    "transmission" "public"."Transmission" NOT NULL,
    "drive" "public"."Drive",
    "euroNorm" TEXT,
    "co2" INTEGER,
    "color" TEXT,
    "equipment" JSONB,
    "damagesNotes" TEXT,
    "location" TEXT,
    "status" "public"."VehicleStatus" NOT NULL DEFAULT 'DRAFT',
    "purchasePrice" DECIMAL(12,2) NOT NULL,
    "totalCosts" DECIMAL(12,2) NOT NULL DEFAULT 0,
    "askingPrice" DECIMAL(12,2) NOT NULL,
    "minPrice" DECIMAL(12,2),
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Vehicle_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VehicleImage" (
    "id" TEXT NOT NULL,
    "vehicleId" TEXT NOT NULL,
    "url" TEXT NOT NULL,
    "width" INTEGER,
    "height" INTEGER,
    "order" INTEGER NOT NULL DEFAULT 0,
    "isCover" BOOLEAN NOT NULL DEFAULT false,

    CONSTRAINT "VehicleImage_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."VehicleCost" (
    "id" TEXT NOT NULL,
    "vehicleId" TEXT NOT NULL,
    "type" "public"."CostType" NOT NULL,
    "vendorName" TEXT,
    "amount" DECIMAL(12,2) NOT NULL,
    "note" TEXT,

    CONSTRAINT "VehicleCost_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "public"."Lead" (
    "id" TEXT NOT NULL,
    "type" "public"."LeadType" NOT NULL,
    "name" TEXT NOT NULL,
    "email" TEXT,
    "phone" TEXT,
    "message" TEXT,
    "source" "public"."LeadSource" NOT NULL DEFAULT 'WEB',
    "status" "public"."LeadStatus" NOT NULL DEFAULT 'NEW',
    "attachments" JSONB,
    "vehicleId" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "Lead_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "Vehicle_slug_key" ON "public"."Vehicle"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "Vehicle_vin_key" ON "public"."Vehicle"("vin");

-- AddForeignKey
ALTER TABLE "public"."VehicleImage" ADD CONSTRAINT "VehicleImage_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES "public"."Vehicle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."VehicleCost" ADD CONSTRAINT "VehicleCost_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES "public"."Vehicle"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "public"."Lead" ADD CONSTRAINT "Lead_vehicleId_fkey" FOREIGN KEY ("vehicleId") REFERENCES "public"."Vehicle"("id") ON DELETE SET NULL ON UPDATE CASCADE;

